/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*  {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}
ul,li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.container {
    width: 1920px;
    margin: 0 auto;
}

/* Banner CSS */
#banner {
    background: linear-gradient(0.00deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}
.banner_content {
    width: 70%;
    padding: 264px 0px;
    text-align: center;
}

.banner_content h3 {
    font-weight: 600;
    font-size: 32px;
    color: #fff;
    padding-bottom: 16px;
}

.banner_content h1 {
    font-weight: 700;
    font-size: 64px;
    color: #fff;
    padding-bottom: 24px;
}
.banner_content p {
    font-weight: 400;
    font-size: 28px;
    color: #fff;
    padding-bottom: 32px;
}
.banner_content button {
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    padding: 21px 32px;
    background-color: #52C303;
    border: none;
    border-radius: 5px;
    transition: all linear 0.2s;
}
.banner_content button:hover{
    background-color: antiquewhite;
    color: #101010;    
}

/* Brand CSS */
#brands {
    margin-bottom: 120px;
}
.heading {
    text-align: center;
}
.heading h4 {
    font-size: 24px;
    font-weight: 500;
    color: #101010;
    padding-bottom: 16px;
}
.heading h2 {
    font-size: 48px;
    font-weight: 700;
    color: #101010;
    padding-bottom: 48px;
}

.cards_container {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.cards_container button {
    padding: 21px 32px;
    border: none;
    border-radius: 5px;
    background-color: #52C303;
}

.card {
    width: 640px;
    text-align: center;
}

.card img {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
.card button {
    font-size: 24px;
    font-weight: 600;
    color: #101010;
    padding: 14px 32px;
    background-color: #53c3031d;
    border: none;
    border-radius: 5px;
    margin-bottom: 18px;
    transition: all linear 0.2s;
}
.card button:hover {
    background-color: #52C303;
}
.card h4{
    font-size: 40px;
    font-weight: 600;
    color: #101010;
    margin-bottom: 12px;
}
.card p{
    font-size: 16px;
    font-weight: 5000;
    color: #101010;
    margin-bottom: 12px;
}

.brand_button {
    text-align: center;
    margin-top: 30px;
}
.brand_button button {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    padding: 21px 32px;
    background-color: #52C303;
    border: none;
    border-radius: 5px;
    transition: all linear 0.2s;
}
.brand_button button:hover {
    background-color: antiquewhite;
    color: #101010;
}

/* Footer CSS */
.footer_container {
    display: flex;
    margin-bottom: 48px;
}
.footer_left {
    width: 50%;
}
.footer_left img {
    width: 100%;
}
.footer_right {
    width: 50%;
    padding: 135px 55px;
    text-align: center;
}
.footer_right h3 {
    font-size: 48px;
    font-weight: 700;
    color: #101010;
    margin-bottom: 24px;
}
.footer_right p {
    font-size: 24px;
    font-weight: 500;
    color: #10101098;
    margin-bottom: 24px;
}
.footer_right h4 {
    font-size: 32px;
    font-weight: 600;
    color: #10101098;
    padding: 32px 0px;
    border-top: 1px solid #10101060;
    border-bottom: 1px solid #10101060;
    margin-bottom: 20px;
}
.footer_right a i {
    font-size: 40px;
    padding: 0px 20px;
    color: #8a2be2;
}
.copyright {
    text-align: center;
    padding: 25px 0px;
    background-color: #53c3031d;
}
.copyright small {
    font-weight: 700;
    color: #101010;
}

/* Single Page */
.container_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.single_card p {
    margin-bottom: 30px;
}
.single_card a {
    font-size: 30px;
    padding: 20px;
    background-color:#52C303;
    border-radius: 50%;
}